<!-- <nav id="menu" class="navbar justify-content-center" style="background-color:#fff !important;">
    <div  class="container-fluid text-center">
        <a class="navbar-brand" href="#">INICIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="/electronics" class="nav-link " >ELECTRONICS</a>
            </li>
            <li class="nav-item">
              <a routerLink="/jewerely" class="nav-link" href="#">JEWELERY</a>
            </li>
            <li class="nav-item">
                <a routerLink="/mensclothing" class="nav-link" href="#">MEN'S CLOTHING</a>
              </li>
              <li class="nav-item">
                <a routerLink="/womensclothing" class="nav-link" href="#">WOMEN'S CLOTHING </a>
              </li>
          </ul>
        </div>
      </div>
</nav> -->
<div class="container">
  <div class="row">
    <div class="col-11">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item">
          <a routerLink="/electronics" class="nav-link">ELECTRONICS</a>
        </li>
        <li class="nav-item">
          <a routerLink="/jewelery" class="nav-link" href="#">JEWELERY</a>
        </li>
        <li class="nav-item">
          <a routerLink="/men's clothing" class="nav-link" href="#"
            >MEN'S CLOTHING</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/women's clothing" class="nav-link" href="#"
            >WOMEN'S CLOTHING
          </a>
        </li>
      </ul>
    </div>
    <div class="col-1">
      <div class="carritoNav">

        <app-carrito></app-carrito>
        <!-- <a routerLink="/carrito" class="nav-link" href="#"
        >
      </a> -->
        
      </div>
    </div>
  </div>
</div>

